<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3" id="title-tag">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><button id="item-nav" routerLink="/items" class="btn btn-info">Grocery List</button></li>
            <li class="list-inline-item"><button id="add-nav" routerLink="/additem" class="btn btn-info">Add Item</button></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
